<ion-header>

  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>TOOLBAR</ion-title>
  </ion-navbar>

  <ion-toolbar color="danger">
    <ion-title>COMPRAS</ion-title>
    <ion-buttons start>
      <button ion-button icon-only color="royal" (click)="openModal()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="openModal()">
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content padding>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let item of items">
      {{ item }}
    </ion-item>
  </ion-list>
  <!-- setando o valor na variavel 'selecionado' vindo de 'value' -->
  <ion-segment [(ngModel)]="selecionado">
    <ion-segment-button value="starwars">Star Wars</ion-segment-button>
    <ion-segment-button value="startrek">Star Trek</ion-segment-button>
    <ion-segment-button value="warcraft">Warcraft</ion-segment-button>
  </ion-segment>
  <!-- utiliza a variavel 'selecionado' -->
  <div [ngSwitch]="selecionado">
    <div>
      <!-- aqui faz um switch na variavel 'selecionado' -->
      <ion-list *ngSwitchCase="selecionado">
        <!-- recebe o array baseado na variavel -->
        <ion-item *ngFor="let item of getList(selecionado)">
          {{item}}
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-title>ENVIAR</ion-title>
    <ion-buttons end>
      <button ion-button icon-right color="royal" (click)="openModal()">
        Send
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
